{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<p class="error">{% for err in form.non_field_errors %}{{ err }}{% if not forloop.last %}<br/>{% endif %}
{% endfor %}</p>
{% endif %}

<div class="login_block">

<form method="post" action=".">{% csrf_token %}
<table class="login">
<tr><td class="text_right"><label for="id_username">Email地址/用户名：</label></td><td>{{ form.username }}</td></tr>
<tr><td></td><td class="error">{% if form.username.errors %}***{{ form.username.errors|join:", " }}{% endif %}</td></tr>
<tr><td class="text_right"><label for="id_password">密  码：</label></td><td>{{ form.password }}</td></tr>
<tr><td></td><td class="error">{% if form.password.errors %}***{{ form.password.errors|join:", " }}{% endif %}</td></tr>
<tr><td></td><td>
    <input id="login_btn" type="submit" value="登      陆" />
    {% url auth_password_reset as auth_password_reset %}
    {% if auth_password_reset %}
    <a class="forgot_pwd" href="{% url auth_password_reset %}">忘记密码啦？</a>
    {% endif %}
</td></tr>
</table>

<input type="hidden" name="next"
{% if next %}
    value={{ next }} />
{% else %}
     {% url satchmo_account_info as accounturl %}
     {% if accounturl %} value="{% url satchmo_account_info %}" /> {% endif %}
{% endif %}
</form>
{% comment %} We jump through hoops with the urls so it doesn't bomb with django's built in unit tests.{% endcomment %}
{% url registration_register as registration_register %}
{% if registration_register %}
    <p class="login_note"><span>提示：</span>还不是会员? 点击这里<a class="btn_link" href="{% url registration_register %}">免费注册</a></p>
{% endif %}
</div>

{% endblock %}
