{% extends "shop/base.html" %}
{% load satchmo_google %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a>》</li>
   <li>{% trans "Account Creation" %}</li>
{% endblock %}

{% block content %}
<h3>账户注册成功</h3>
<p>感谢您的注册，你已经成功登陆。
{% if verify %}
已经向您注册的邮箱发送了验证链接，请登陆您的邮箱激活您的账户。
{% endif %}
</p>

{% endblock %}

{% block google-tracker %}
{% if shop.options.GOOGLE.ANALYTICS.value %}
    {% show_tracker is_secure %}
    {% google_track_signup %}
{% endif %}
{% if shop.options.GOOGLE.ADWORDS.value %}
    {% google_adwords_signup %}
{% endif %}
{% endblock %}
