.register_form{
    float:left;
    width: 618px;
    padding: 20px 0;
}

.register_form label{
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    font-size: 14px;
}
.register_form input{
    width: 200px;
    height: 19px;
    float: left;
    line-height: 19px;
    margin-top:10px;
    border: 1px solid #A5AFC3
}
.register_form .newsletter input{
    float: left;
    width: 20px;
    margin-top: 13px;
    padding-left: 0;
    margin-left: 0;
}
.reg_btn{
    padding-left: 120px;
}
.reg_btn input{
    height: 30px;
    line-height: 30px;
}
.gray{
    height: 44px;
    line-height: 44px;
    padding: 5px 20px;
}
.error_msg{
    float: left;
    border: 1px solid red;
    width: 200px;
    height: 19px;
    line-height: 19px;
    color: red;
    margin: 11px 5px;
}
.text_right{
    text-align: right;
}
.text_left{
    text-align: left;
}
.float_left{
    display: block;
    float: left;
}
.float_right{
    display: block;
    float: right;
}
.error{
    color: red;
}
.login_block{
    border: 1px solid #888888;
    width:350px;
    padding: 20px 0 10px 0;
    float: left;
    margin-bottom: 20px;
}
.login{
    margin: 0 auto;
}
.login tr{
    height: 19px;
    line-height: 19px;
}
.login tr td input{
    width:180px;
    border: 1px solid #A5AFC3;
    line-height: 19px;
}
.login td input#login_btn{
    background-color: #F36F0B;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    line-height: 30px;
}
.btn_link{
    display: inline-block;
    padding: 0 5px;
    margin-right: 10px;
    background-color: #F36F0B;
    color: #FFFFFF;
}
.forgot_pwd{
    display: inline-block;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
}
.login_note{
    display: block;
    margin-left: 20px;
}
.capt input{
    width: 50px;
}
.captcha{
    width: 70px;
    height: 23px;
    margin-top: 10px;
    margin-left: 5px;
}