{% extends "shop/base.html" %}
{% load i18n %}

{% block extra-head %}
{% include "shop/_jquery.html" %}
{% include "shop/_jquery_form.html" %}
{% include "contact/_addressbook_form_js.html" %}
{% endblock %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "首页" %}</a></li>
   <li>{% trans "结算" %}</li>
{% endblock %}

{% block content %}
<h3>{% trans "结算" %}</h3>
<div id="checkoutprogress">
<ul>
    <li class="first active">{% trans "确认订单信息" %}</li>
    <li>{% trans "支付" %}</li>
    <li>{% trans "确认收货" %}</li>
</ul>
</div>
<div>
<h4>{% trans "提交订单之前，请认真核对以下信息" %}</h4>
{% if form.non_field_errors %}
<h2>{% trans "请修正以下错误：" %}</h2>
{{ form.non_field_errors }}
{% endif %}
{% if user.is_anonymous %}
<form method="post" action="{% if is_secure %}{% url auth_secure_login %}{% else %}{{ login_url }}{% endif %}">{% csrf_token %}
<input type="hidden" name="next" value="{% url satchmo_checkout-step1 %}" />
<table>
		<tr>
			<td colspan="2">
				{% trans "If you already have an account, you can login now to fill in most of the information below." %}
				{% trans "This is just a convenience, no account is required!" %}
			</td>
		</tr>
		<tr><td><label for="id_username">{% trans "Username or email" %}:</label></td><td><input type="text" id="id_username" class="vTextField required" name="username" size="15" value="" maxlength="75" /></td></tr>
        <tr><td><label for="id_password">{% trans "Password" %}:</label></td><td><input type="password" id="id_password" class="vPasswordField required" name="password" size="15" value="" maxlength="30" /></td></tr>
		<tr><td>&nbsp;</td><td><input type="submit" value="{% trans "Login" %}" /></td></tr>
</table>
</form>
{% endif %}

<div id="boxaddress">
	<h1>收货地址</h1>
	<div>
		<div id="address_list">
		{% if addressbooklist|length %}
			{% for addressbook in addressbooklist %}
			<p><input type="radio" name="addressbook" value="{{addressbook.id}}" {% if addressbook.is_default_shipping %}checked="checked"{% endif %}/>{{addressbook}}</p>
			{% endfor %}
		{% endif %}
		<p><input id="id_add_addressbook" type="radio" name="addressbook" {% if not addressbooklist %}checked="checked"{% endif %}/>添加新地址</p>
		</div>
		<div id="edit_address" class="invisible">
			<h3>编辑收货人信息</h3>
			<form action="" method="post" >{% csrf_token %}
				<div>
					<table>
						<tbody>
							<tr>
								<td>收货人：</td><td colspan="3">{{ form.name }}</td>
							</tr>
							<tr>
								<td>地区：</td>
								<td colspan="3">
									<table><tr>
										<td>{{ form.province }}</td>
										<td>
											<select name="city">
												<option>---城市---</option>
											</select>
										</td>
										<td>
											<select name="region">
												<option>---县/区---</option>
											</select>
										</td>
									</tr></table>
								</td>
							</tr>
							<tr>
								<td>详细地址：</td><td colspan="3">{{ form.street }}</td>
							</tr>
							<tr>
								<td>邮编：</td><td colspan="3">{{ form.postal_code }}</td>
							</tr>
							<tr>
								<td>手机：</td><td>{{ form.phone }}</td>
								<td>固定电话：</td><td>{{ form.fixed_phone }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="address_save"><button type="submit">保存</button></div>
			</form>
		</div>
		<div id="address_add" {% if not addressbooklist %}class="visible"{% else %}class="invisible"{% endif %}>
			<h3>添加收货人信息</h3>
			<form action="{% url satchmo_addressbook_add %}" method="post" >{% csrf_token %}
				<div>
					<table>
						<tbody>
							<tr>
								<td>收货人：</td><td colspan="3">{{ form.name }}</td>
							</tr>
							<tr>
								<td>地区：</td>
								<td colspan="3">
									<table><tr>
										<td>{{ form.province }}</td>
										<td>
											<select name="city" id="id_city">
												<option>---城市---</option>
											</select>
										</td>
										<td>
											<select name="region" id="id_region">
												<option>---县/区---</option>
											</select>
										</td>
									</tr></table>
								</td>
							</tr>
							<tr>
								<td>详细地址：</td><td colspan="3">{{ form.street }}</td>
							</tr>
							<tr>
								<td>邮编：</td><td colspan="3">{{ form.postal_code }}</td>
							</tr>
							<tr>
								<td>手机：</td><td>{{ form.phone }}</td>
								<td>固定电话：</td><td>{{ form.fixed_phone }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="address_save"><button type="submit">添加并送到这个地址</button></div>
			</form>
		</div>
	</div>
</div>
<div id="confirm_order_info">
	<form method="post" action="{% url satchmo_checkout-step1 %}">{% csrf_token %}
		<div id="shippingaddress" class="invisible">
			{{ form.name }}
			{{ form.province }}
			{{ form.city }}
			{{ form.region }}
			{{ form.street }}
			{{ form.postal_code }}
			{{ form.phone }}
			{{ form.fixed_phone }}
		</div>
		<div id="shipmethod">
			<h3>送货方式</h3>
			{{form.shippingmethod}}
			<h3>支付方式</h3>
			{{form.paymentmethod}}
			
			{% if form.discount.is_hidden %}
			{{ form.discount }}
			{% else %}
				<h3>折扣</h3>
				<label for="id_discount">折扣码：</label>{{ form.discount }}
			{% if form.discount.errors %}{{ form.discount.errors|join:", " }}{% endif %}
			{% endif %}
		</div>
	</form>
</div>
<!--<form method="post" action="{% url satchmo_checkout-step1 %}">{% csrf_token %}

<table>
    <tr><td colspan="2"><p>{% trans "带*号的为必填信息" %}</p></td></tr>

	{% ifequal paymentmethod_ct 1 %}
	    {# If we only have one payment method, then the form renders it as a hidden field #}{{ form.paymentmethod }}
    {% else %}
	<tr><td colspan="2"><h4>{% trans "How do you want to pay?" %}</h4></td></tr>
	<tr><td><label for="id_paymentmethod">{% trans "Payment method" %}*</label></td> <td><div id="payment">{{ form.paymentmethod }}</div></td></tr>
    {% if form.paymentmethod.errors %}<tr><td class="error" colspan="2">*** {{ form.paymentmethod.errors|join:", " }}</td></tr>{% endif %}
    {% endifequal %}

	<tr><td colspan="2"><h4>{% trans "Basic Information" %}</h4></td></tr>
    <tr><td><label for="id_email">{% trans "Email address" %}*</label></td> <td>{{ form.email }}</td></tr>
    {% if form.email.errors %}<tr><td class="error" colspan="2">*** {{ form.email.errors|join:", " }}</td></tr>{% endif %}

    <tr><td><label for="id_first_name">{% trans "First name" %}{% if form.first_name.field.required %}*{% endif %}</label></td><td> {{ form.first_name }}</td></tr>
   {% if form.first_name.errors %}<tr><td class="error" colspan="2">*** {{ form.first_name.errors|join:", " }}</td></tr>{% endif %}

    <tr><td><label for="id_last_name">{% trans "Last name" %}{% if form.last_name.field.required %}*{% endif %}</label></td><td> {{ form.last_name }}</td></tr>
    {% if form.last_name.errors %}<tr><td class="error" colspan="2">*** {{ form.last_name.errors|join:", " }}</td></tr>{% endif %}

    <tr><td><label for="id_phone">{% trans "Phone number" %}{% if form.phone.field.required %}*{% endif %}</label></td><td> {{ form.phone }}</td></tr>
    {% if form.phone.errors %}<tr><td class="error" colspan="2">*** {{ form.phone.errors|join:", " }}</td></tr>{% endif %}


{% if cart.is_shippable %}
    {% block shipping-info %}{% include "contact/_contact_info_form_shipping.html" %}{% endblock %}
{% endif %}

{% if form.discount.is_hidden %}
    {{ form.discount }}
{% else %}
    <tr><td colspan="2"><h4>{% trans "Discounts" %}</h4></td></tr>
    <tr><td><label for="id_discount">{% trans "Discount code" %}</label></td><td>{{ form.discount }}</td></tr>
    {% if form.discount.errors %}<tr><td class="error" colspan="2">*** {{ form.discount.errors|join:", " }}</td></tr>{% endif %}
{% endif %}
{% if sale %}{% include "product/sale_details.html" %}{% endif %}

	<tr><td></td><td><input type="submit" value="{% trans "Continue Checkout" %}"/></td></tr>
</table>
</form>-->
</div>
{% endblock %}
